body {
    background-image: linear-gradient(50deg, rgb(140, 85, 250) 0%, rgb(200, 215, 253) 75%, rgb(143, 230, 243) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

header {
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

#introTitle {
    font-size: 40px;
    padding: 20px;
}

#Speech {
    font-size: 20px;
    padding-bottom: 30px;
    max-width: 80%;
}

.containerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.containerTitle img {
    width: 200px;
    height: auto;
}

.textTitle {
    font-size: 25px;
    margin-top: 10px;
}

#begin {
    background-color: rgb(199, 89, 159);
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

#intro {
    font-size: 40px;
    padding: 20px;
}

#rabbitSpeech {
    font-size: 20px;
    padding-bottom: 30px;
    max-width: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container img {
    width: 200px;
    height: auto;
}

.text {
    font-size: 25px;
    margin-top: 10px;
}

#oneMile {
    background-color: rgb(199, 89, 159);
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

#introTwo {
    font-size: 40px;
    padding: 20px;
}

#catSpeech {
    font-size: 20px;
    padding-bottom: 30px;
    max-width: 80%;
}

.containerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.containerTwo img {
    width: 200px;
    height: auto;
}

.textTwo {
    font-size: 25px;
    margin-top: 10px;
}

#twoMile {
    background-color: rgb(199, 89, 159);
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

#introThree {
    font-size: 40px;
    padding: 20px;
}

#madSpeech {
    font-size: 20px;
    padding-bottom: 30px;
    max-width: 80%;
}

.containerThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.containerThree img {
    width: 200px;
    height: auto;
}

.textThree {
    font-size: 25px;
    margin-top: 10px;
}

#fiveMile {
    background-color: rgb(199, 89, 159);
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

#introFour {
    font-size: 40px;
    padding: 20px;
}

#queenSpeech {
    font-size: 20px;
    padding-bottom: 30px;
    max-width: 80%;
}

.containerFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.containerFour img {
    width: 200px;
    height: auto;
}

.textFour {
    font-size: 25px;
    margin-top: 10px;
}

#tenMiles {
    background-color: rgb(199, 89, 159);
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.oval {
    position: fixed;
    bottom: 20px;
    text-align: center;
    flex:auto;
    background-color: blueviolet;
    border-radius: 50px;
    flex-wrap: 20px;
    height: 10px;
    width: 1500px;
}

#Alice {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    margin-left: 1px;
}

#Alice1 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    margin-left: 150px;
}

#Alice2 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    margin-left: 400px;
}

#Alice3 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    margin-left: 800px;
}


#rabbitRun {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    margin-left: 150px;
}

#catRun {
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 95px;
    height: auto;
    margin-left: 400px;
}

#smallHat {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    margin-left: 800px;
}

#queen {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    margin-left: 1125px;
}


.cat-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.cat-body {
    width: 100%;
    height: auto;
}

.eye-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-eyes {
    position: relative;
    width: 55%;
    height: auto;
}